
    <div class="row"
    style="position: relative; bottom: 0;background-color: #333;width: 101%; 
    padding: 50px; margin-top: 270px; text-align: center;color: #fff; ">
        <p style="margin: 0 auto; font-size: 20px;" >
            Copyright &copy; 2020 by Ankit. All rights reserved.
        </p>
    </div>

</body>

</html>
